{
    "TwitterChallengeResponseCheck": {
        "TWITTER_CONSUMER_SECRET": "example-secret"
    },
    "Parameters": {
        "CHANNEL_ACCESS_TOKEN": "example-token"
        "ADMIN_LINE_USER_ID": "example-line-id",
        "SWITCH_BOT_OPEN_TOKEN": "example-token",
        "SWITCH_BOT_CLIENT_SECRET": "example-client-secret",
        "SESAMI_API_KEY": "example-api-key",
        "SESAMI_DEVICE_UUID": "example-device-uuid",
        "SESAMI_DEVICE_SECRET": "example-device-secret"
    }
}