{
    "TwitterChallengeResponseCheck": {
        "TWITTER_CONSUMER_SECRET": "example-secret"
    },
    "TwitterDispatcher": {
        "OPEN_CURTAINS_STATE_MACHINE_ARN": "arn:example"
    },
    "Parameters": {
        "CHANNEL_ACCESS_TOKEN": "example-token"
        "ADMIN_LINE_USER_ID": "example-line-id"
    }
}